<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="eWordLearner.ui.WordView"
            icon="icons/view.png"
            id="eWordLearner.ui.WordView"
            name="Word View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eWordLearner.actionSet"
            label="eWordLearner"
            visible="true">
         <action
               class="eWordLearner.actions.ShowWordViewAction"
               icon="icons/view.png"
               id="eWordLearner.actions.ShowWordViewAction"
               label="Open Word View"
               style="push"
               toolbarPath="end">
         </action>
      </actionSet>
   </extension>

</plugin>
